# --- Core Orchestration ---
python-dotenv==1.0.1
requests==2.32.3
boto3==1.34.0

# --- Big Data Engine ---
pyspark==4.1.1
findspark==2.0.1        # CRITICAL
pyarrow==18.0.0      # REQUIRED: For Snappy-compressed Parquet support

# --- NoSQL Serving Layer ---
happybase==1.2.0
thrift==0.20.0          # REQUIRED: Underlying protocol for HBase communication

# --- Data Manipulation ---
pandas>=2.2.3
numpy>=2.0.0
